
      <nav class="navbar navbar-expand-lg navbar-dark  sticky-top circle">
          <a class="navbar-brand" href="#">
              <img src="assets/img/logo.jpg" width="60" alt="" style="position:absolute"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/products">Products</a>
                  </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/project">Projects</a>
                    </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/contact">Contact</a>
                  </li>

             
          </div>
        </nav>
    <section style="font-size: 62.5%;"><div class="slider-container">
            <div class="slider-control left inactive"></div>
            <div class="slider-control right"></div>
            <ul class="slider-pagi"></ul>
            <div class="slider">
                <div class="slide slide-0 active">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <svg class="slide__overlay" viewbox="0 0 100 100" preserveAspectRatio="none">
                            <path class="slide__overlay-path" d="M0 0 C38 8 64 88 100 100 L0 100 Z" />
                        </svg>
                        <div class="slide__text">
                            <img src="assets/img/ll.png" alt="" width="400px" style="margin-bottom:65px;">
                            <h2 class="slide__text-heading"></h2>
                            <div class="row" >
                                <div class="col-md-3"><img src="assets/img/logo.jpg" alt="" width="110%"></div>
                                <div class="col-md-8">
                                    <p class="slide__text-desc">MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-1 ">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <svg class="slide__overlay" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <path class="slide__overlay-path" d="M0 0 C38 8 64 88 100 100 L0 100 Z" />
                        </svg>
                        <div class="slide__text">
                            <img src="assets/img/ll.png" alt="" width="400px" style="margin-bottom:65px;">
                            <h2 class="slide__text-heading"></h2>
                            <div class="row" >
                                <div class="col-md-3"><img src="assets/img/logo.jpg" alt="" width="110%"></div>
                                <div class="col-md-8">
                                    <p class="slide__text-desc">MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-2">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <svg class="slide__overlay" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <path class="slide__overlay-path" d="M0 0 C38 8 64 88 100 100 L0 100 Z" />
                        </svg>
                        <div class="slide__text">
                            <img src="assets/img/ll.png" alt="" width=400px" style="margin-bottom:65px;">
                            <h2 class="slide__text-heading"></h2>
                            <div class="row" >
                                <div class="col-md-3"><img src="assets/img/logo.jpg" alt="" width="110%"></div>
                                <div class="col-md-8">
                                    <p class="slide__text-desc">MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide slide-3">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <svg class="slide__overlay" viewBox="0 0 100 100" preserveAspectRatio="none">
                            <path class="slide__overlay-path" d="M0 0 C38 8 64 88 100 100 L0 100 Z" />
                        </svg>
                        <div class="slide__text">
                            <img src="assets/img/ll.png" alt="" width="400px" style="margin-bottom:65px;">
                            <h2 class="slide__text-heading"></h2>
                            <div class="row" >
                                <div class="col-md-3"><img src="assets/img/logo.jpg" alt="" width="110%"></div>
                                <div class="col-md-8">
                                    <p class="slide__text-desc">MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
      <div class="container">
        <div class="align-middle">
          <h1 class="text-left wow bounceIn">Molecules <span>Enviro Care</span></h1>
          <p class="about-p wow bounceIn">
              A team of experts from different disciplines of science and technology have joined hands under the leadership of Sri.<b> S Padamsuran</b> to share their expertise in respective field, the outcome is the birth of Molecules Envirocare.  Headquarter at Kayamkulam, a major town in between Cochin and Trivandrum of Kerala. We are dedicated ourselves to high intention, sincere efforts, intelligent direction and wise choice of many alternatives. Our efforts are led by a team of experts completely involved in R&D to design and develop new products and techniques in water and waste water management.
          </p>
          <a href="/about" class="cta">
              <span>Read more</span>
              <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
              </svg>
            </a>
        </div>
      </div>
    </section>
    <section id="mission">
      <div class="container">
        <div class="row res">
          <div class="col fancy2 wow bounceInLeft">
            <h3 class="text-left">Mission</h3>
            <ul>
              <li>
                  Establish MEC as one of the major contributors in environmental engineering works and put maximum effort to reduce the extended pollution of our nature.

              </li>
              <li>
                  Establish MEC as a major environmental company deals with large scale projects and maintain national and international platforms inspiring engineering frameworks and guidelines.

              </li>
              <li>
                  Simplify, yet sophisticate the technology and science in connection with pollution control ideologies.

              </li>
              <li>
                  Impart the individual experience of our experts to core service of troubleshooting in addition to the conceptual outburst in search of new horizon.
              </li>
              <!-- <li>
                  To develop new products and technology in pollution control work
                  to meet with actual requirement of developing community.
                </li> -->
            </ul>
          </div>
          <div class="col fancy2 wow bounceInRight">
            <h3 class="text-left">Vision</h3>
            <ul>
              <li>
                  Contribute the clean environment, by offering state-of-the-art products and technologies for the pollution control works.

              </li>
              <li>
                  Guarantee innovation with every new steps of designing, ensure the excellence and quality.

              </li>
              <li>
                  Avoid the deviation from the commitment of time frames and quality.

              </li>
              <li>
                  Provide eco-friendly and user-friendly solutions to the upcoming environmental issues.
              </li>
              <li>Reduce the cost, energy and use of human resource in pollution control works. Without losing the flavor of excellence
              </li>
            </ul>
          </div>
        </div>
      </div>
        <br>
        <div class="container">
            <h3 >Goals</h3>
            <br>
            <div class="ribbon"><span class="fold top left"></span><b>Competitive edge </b>: To be competent by bringing  our client the exclusive and innovative design which are benchmarked internationally.</div>
            <div class="ribbon"><span class="fold top left"></span><b>Profitability</b>: The focus is to render perfect solution which are profitable to the clients by adopting the sense of simplicity and knowledge.</div>
            <div class="ribbon"><span class="fold top left"></span><b>Dedication</b>: We are dedicated ourselves to high intension, sincere efforts, intelligent direction and wise choice of many alternatives.</div>
            <div class="ribbon"><span class="fold top left"></span><b>Corporate Social Responsibility</b>: Being sensitive and ethical towards, social, economic and environmental issue is highly held professional values in our organization.</div>
        </div>
    </section>
    <section id="scroll">
      <div class="owl-carousel container">
          <%projects.forEach((project)=>{%>
        <div>
          <div class="card wow flipInY test" style="width: 18rem;">
            <img class="card-img-top " src="data:image/png;base64,<%=project.image1.toString('base64')%>" alt="Card image cap" style="height:320px;"/>
            <div class="card-body">
              <h5 class="card-title"><%=project.title%></h5>
              <p class="card-text dots"><%=project.content.substring(0, 100)%>
              </p>
              <p  class="btn btn-primary" onclick='openfile("<%=project._id%>")'>Go somewhere</p>
            </div>
          </div>
        </div>
        <%});%>

    </section>
    <section id="footer">
      <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 footer-index">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-5 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Molecules Enviro Care</h5>
          <p class="footer-abt">A team of experts from different disciplines of science and technology have joined hands under the leadership of Sri. S Padamsuran to share their expertise in respective field, the outcome is the birth of Molecules Envirocare.  Headquarter at Kayamkulam, a major town in between Cochin and Trivandrum of Kerala. We are dedicated ourselves to high intention, sincere efforts, intelligent direction and wise choice of many alternatives. Our efforts are led by a team of experts completely involved in R&D to design and develop new products and techniques in water and waste water management. </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
            <p><i class="fa fa-map-marker fa-1x"></i> MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>
            <p><i class="fa fa-phone fa-1x"></i> 0479 2479905, 9447792843</p>
    
          </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Go To</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Projects</a>
            </li>

            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a href="#!">FAQ</a>
            </li>
          </ul>

  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-dribbble fa-2x"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://adityav.in"> Molecules Enviro Care</a>
    </div>
    <!-- Copyright -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div id="content" >
          <div class="project-image" id="some">
            <div id="one">
<!--              <img src="assets/img/about-infra.jpg" alt="">-->
            </div>
<!--            <div id="two">-->
<!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
<!--            </div>-->
<!--            <div id="three">-->
<!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
<!--            </div>-->
<!--            <div id="four">-->
<!--&lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
<!--            </div>-->
          </div>
          </div>
          <div class="container" style="margin-top:30px;">
            <h3 id="project-header" style="color:black"></h3>
            <p id="project-content" style="color:black;font-size:15px;"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </footer>
  <!-- Footer -->
    </section>
      <script>
        let data = <%- JSON.stringify(projects)%>;
        console.log(data)
        function  openfile(id) {
          $('#theImg1').remove();$('#theImg2').remove();$('#theImg3').remove();$('#theImg4').remove();
          console.log("got something")
          console.log(id);
          let selected = data.filter((data)=>data._id == id);
          console.log(selected)
          if(selected.length>0){
            $('#exampleModal').modal("show")
            $('#project-header').text(selected[0].title);
            $('#project-content').text(selected[0].content);
            if(selected[0].image1){
                // $('#some').append("<div id='one'></div>")
                let byte = new Uint8Array(selected[0].image1.data)
                $('#one').prepend($('<img>',{id:'theImg1',src:`data:image/png;base64,${encode(byte)}`}))
            }
            else{
                $('#one').prepend($('<img>',{id:'theImg1',src:"assets/img/place.jpeg"}))
            }
            // if(selected[0].image2){
            //     // $('#two').append("<div id='one'></div>")
            //     let byte = new Uint8Array(selected[0].image2.data)
            //   $('#two').prepend($('<img>',{id:'theImg2',src:`data:image/png;base64,${ encode(byte)}`}))
            // }else{
            //     $('#two').prepend($('<img>',{id:'theImg2',src:"assets/img/place.jpeg"}))
            // }
            // if(selected[0].image3){
            //     // $('#three').append("<div id='one'></div>")
            //     let byte = new Uint8Array(selected[0].image3.data)
            //   $('#three').prepend($('<img>',{id:'theImg3',src:`data:image/png;base64,${encode(byte)}`}))
            // }else{
            //     $('#three').prepend($('<img>',{id:'theImg3',src:"assets/img/place.jpeg"}))
            // }
            // if(selected[0].image4){
            //     // $('#four').append("<div id='one'></div>")
            //     let byte = new Uint8Array(selected[0].image4.data)
            //  $('#four').prepend($('<img>',{id:'theImg4',src:`data:image/png;base64,${encode(byte)}`}))
            // }else{
            //     $('#four').prepend($('<img>',{id:'theImg4',src:"assets/img/place.jpeg"}))
            // }
          }

        }
        // public method for encoding an Uint8Array to base64
        function encode (input) {
            var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
            var output = "";
            var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
            var i = 0;

            while (i < input.length) {
                chr1 = input[i++];
                chr2 = i < input.length ? input[i++] : Number.NaN; // Not sure if the index
                chr3 = i < input.length ? input[i++] : Number.NaN; // checks are needed here

                enc1 = chr1 >> 2;
                enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                enc4 = chr3 & 63;

                if (isNaN(chr2)) {
                    enc3 = enc4 = 64;
                } else if (isNaN(chr3)) {
                    enc4 = 64;
                }
                output += keyStr.charAt(enc1) + keyStr.charAt(enc2) +
                    keyStr.charAt(enc3) + keyStr.charAt(enc4);
            }
            return output;
        }

      </script>