
      <nav class="navbar navbar-expand-lg navbar-dark  sticky-top  circle" style="background-color:rgb(53, 125, 219)">
          <a class="navbar-brand" href="#"><img src="assets/img/logo.jpg" width="60" alt="" style="position:absolute"/></a></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/products">Products</a>
                  </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/project">Projects</a>
                </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/contact">Contact</a>
                  </li>

             
          </div>
        </nav>
    
    <section id="header">

    </section>
    <div id="products">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <h2>Products</h2>
                
            </div>
            <br>
                 
                 <div class="row">
                   <%products.forEach((product)=>{%>
<!--                        <div class="col-md-4" style="margin-bottom:20px;">-->
<!--                                <div class="card wow flipInY" style="width: 18rem;">-->
<!--                                        <img src='data:image/png;base64,<%=product.image1.toString('base64')%>' class="card-img-top" alt="...">-->
<!--                                        <div class="card-body">-->
<!--                                                <h5 class="card-title"><%=product.title%></h5>-->
<!--                                                <p class="card-text"><b>1:</b> <%=product.type%><br><br><b>2:</b> <%=product.capacity%><br><br><b>3:</b> <%=product.capacity%><br><br><b>4:</b> <%=product.tank%><br></p>-->
<!--                                                <a href="#" class="btn btn-primary">Know More</a>-->
<!--                                              </div>-->
<!--                                      </div>-->
<!--                        </div>-->
                     <div class="col-12 mt-3">
                     <div class="card wow flipInX" style="width:100%">
                         <div class="card-horizontal">
                             <div class="img-square-wrapper">
                                 <img src='data:image/png;base64,<%=product.image1.toString('base64')%>' class="card-img-top" alt="...">
                             </div>
                             <div class="card-body">
                                 <h4 class="card-title"><%=product.title%></h4>
                                 <p class="card-text"><%=product.feature%></p>
                             </div>
                         </div>
                         <div class="card-footer">
                             <small class="text-muted" style="text-transform: capitalize"><%=product.type%> Treatment Plant</small>
                         </div>
                     </div>
                 </div>
                        <%});%>

            </div>

<br>
        </div>
      </div>
    <section id="footer">
      <!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-5 mx-auto">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Molecules Enviro Care</h5>
          <p class="footer-abt">Founded in 1995, MEC is an environmental Engineering Company with the specialization in water and Waste Water management (STP, ETP), particularly for healthcare, hospitality, education, commercial, residential, and industrial pollution control. Headquarter in Kayamkulam on the major towns in between Cochin and Trivandrum of Kerala.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
            <p><i class="fa fa-map-marker fa-1x"></i>  MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>
            <p><i class="fa fa-phone fa-1x"></i> 0479 2479905, 9447792843</p>
    
          </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Go To</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Projects</a>
            </li>
            
            <li>
              <a href="#!">Contact</a>
            </li>
            <li>
              <a href="#!">FAQ</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
  
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin fa-2x"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-dribbble fa-2x"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://adityav.in"> Molecules Enviro Care</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    </section>
  