
<nav class="navbar navbar-expand-lg navbar-dark  sticky-top  circle" style="background-color:rgb(53, 125, 219)">
    <a class="navbar-brand" href="#"><img src="assets/img/logo.jpg" width="60" alt="" style="position:absolute"/></a></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/project">Projects</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/contact">Contact</a>
            </li>


    </div>
</nav>

<section id="header">

</section>
<div id="products">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <h2>Projects</h2>

        </div>
        <div class="row">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-left:20px;">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Sewage Treatment Plant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Water Treatment Plant</a>
                    </li>

                </ul>
        </div>
        <br>
        <div class="tab-content " id="pills-tabContent" >
                    <div class="tab-pane fade show active row " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"   >
                        <%projects.forEach((product)=>{%>
                        <%if(product.type == 'sewage'){%>
                        <div class="" style="margin-bottom:20px;flex: 1;" >
                            <div class="card wow flipInY test " style="width: 18rem;">
                                <img src='data:image/png;base64,<%=product.image1.toString('base64')%>' class="card-img-top" alt="...">
                                <div class="card-body">
                                   <div style="height:60px"> <h5 class="card-title"><%=product.title%></h5></div>
                                    <p class="card-text dots"><%=product.content.substring(0, 100)%>
                                        <br><br>
                                        <a href="#" class="btn btn-primary" onclick='openfile("<%=product._id%>")'>Know More</a>
                                </div>
                            </div>
                        </div>
                        <%};%>
                        <%});%>
                    </div>

                    <div class="tab-pane fade row" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" >
                        <%projects.forEach((product)=>{%>
                        <%if(product.type == 'water'){%>
                        <div class="" style="margin-bottom:20px;flex: 1;" >
                            <div class="card wow flipInY test " style="width: 18rem;">
                                <img src='data:image/png;base64,<%=product.image1.toString('base64')%>' class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div style="height: 60px"> <h5 class="card-title"><%=product.title%></h5></div>
                                    <p class="card-text dots"><%=product.content.substring(0, 100)%>
                                        <br><br>
                                        <a href="#" class="btn btn-primary" onclick='openfile("<%=product._id%>")'>Know More</a>
                                </div>
                            </div>
                        </div>
                        <%};%>
                        <%});%>
                    </div>

                </div>
        <br>
    </div>
</div>
<section id="footer">
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-5 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Molecules Enviro Care</h5>
                    <p class="footer-abt">Founded in 1995, MEC is an environmental Engineering Company with the specialization in water and Waste Water management (STP, ETP), particularly for healthcare, hospitality, education, commercial, residential, and industrial pollution control. Headquarter in Kayamkulam on the major towns in between Cochin and Trivandrum of Kerala.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 mx-auto">

                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
                    <p><i class="fa fa-map-marker fa-1x"></i>  MOLECULES ENVIROCARE, SUKUMARAM, NEAR PUTHUPPALLY NORTH UPS, PUTHUPPALLY P.O., KAYAMKULAM, ALAPPUZHA DIST., KERALA</p>
                    <p><i class="fa fa-phone fa-1x"></i> 0479 2479905, 9447792843</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 mx-auto">

                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Go To</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">About</a>
                        </li>
                        <li>
                            <a href="#!">Projects</a>
                        </li>

                        <li>
                            <a href="#!">Contact</a>
                        </li>
                        <li>
                            <a href="#!">FAQ</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>


        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fa fa-facebook fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fa fa-twitter fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fa fa-google-plus fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fa fa-linkedin fa-2x"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fa fa-dribbble fa-2x"> </i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://adityav.in"> Molecules Enviro Care</a>
        </div>
        <!-- Copyright -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div id="content" >
                            <div class=" project-image" id="some">
                                <div id="one">
                                    <!--              <img src="assets/img/about-infra.jpg" alt="">-->
                                </div>
<!--                                <div id="two">-->
<!--                                    &lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div id="three">-->
<!--                                    &lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
<!--                                </div>-->
<!--                                <div id="four">-->
<!--                                    &lt;!&ndash;              <img src="assets/img/about-infra.jpg" alt="">&ndash;&gt;-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="container" style="margin-top:30px;">
                            <h3 id="project-header" style="color:black"></h3>
                            <p id="project-content" style="color:black;font-size:15px;"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->
</section>
<script>
    let data = <%- JSON.stringify(projects)%>;
    console.log(data)
    function  openfile(id) {
        $('#theImg1').remove();$('#theImg2').remove();$('#theImg3').remove();$('#theImg4').remove();
        console.log("got something")
        console.log(id);
        let selected = data.filter((data)=>data._id == id);
        console.log(selected)
        if(selected.length>0){
            $('#exampleModal').modal("show")
            $('#project-header').text(selected[0].title);
            $('#project-content').text(selected[0].content);
            if(selected[0].image1){
                // $('#some').append("<div id='one'></div>")
                let byte = new Uint8Array(selected[0].image1.data)
                $('#one').prepend($('<img>',{id:'theImg1',src:`data:image/png;base64,${encode(byte)}`}))
            }
            else{
                $('#one').prepend($('<img>',{id:'theImg1',src:"assets/img/place.jpeg"}))
            }
            // if(selected[0].image2){
            //     // $('#two').append("<div id='one'></div>")
            //     let byte = new Uint8Array(selected[0].image2.data)
            //     $('#two').prepend($('<img>',{id:'theImg2',src:`data:image/png;base64,${ encode(byte)}`}))
            // }else{
            //     $('#two').prepend($('<img>',{id:'theImg2',src:"assets/img/place.jpeg"}))
            // }
            // if(selected[0].image3){
            //     // $('#three').append("<div id='one'></div>")
            //     let byte = new Uint8Array(selected[0].image3.data)
            //     $('#three').prepend($('<img>',{id:'theImg3',src:`data:image/png;base64,${encode(byte)}`}))
            // }else{
            //     $('#three').prepend($('<img>',{id:'theImg3',src:"assets/img/place.jpeg"}))
            // }
            // if(selected[0].image4){
            //     // $('#four').append("<div id='one'></div>")
            //     let byte = new Uint8Array(selected[0].image4.data)
            //     $('#four').prepend($('<img>',{id:'theImg4',src:`data:image/png;base64,${encode(byte)}`}))
            // }else{
            //     $('#four').prepend($('<img>',{id:'theImg4',src:"assets/img/place.jpeg"}))
            // }
        }

    }
    // public method for encoding an Uint8Array to base64
    function encode (input) {
        var keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
        var output = "";
        var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
        var i = 0;

        while (i < input.length) {
            chr1 = input[i++];
            chr2 = i < input.length ? input[i++] : Number.NaN; // Not sure if the index
            chr3 = i < input.length ? input[i++] : Number.NaN; // checks are needed here

            enc1 = chr1 >> 2;
            enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
            enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
            enc4 = chr3 & 63;

            if (isNaN(chr2)) {
                enc3 = enc4 = 64;
            } else if (isNaN(chr3)) {
                enc4 = 64;
            }
            output += keyStr.charAt(enc1) + keyStr.charAt(enc2) +
                keyStr.charAt(enc3) + keyStr.charAt(enc4);
        }
        return output;
    }

</script>
